Repository sinatra/sinatra, pull requests merged in 2018-03, with the labels that each got.

#1393 Update README.ru.md to actual version of English README.
  README.ru.md
Labels: help wanted

#1208 Sinatra::Contrib dependency updates. Fixes #1207
  sinatra-contrib/lib/sinatra/capture.rb
  sinatra-contrib/lib/sinatra/contrib.rb
  sinatra-contrib/lib/sinatra/contrib/setup.rb
  sinatra-contrib/lib/sinatra/cookies.rb
  sinatra-contrib/lib/sinatra/extension.rb
  sinatra-contrib/lib/sinatra/namespace.rb
  sinatra-contrib/lib/sinatra/streaming.rb
  sinatra-contrib/sinatra-contrib.gemspec
  sinatra-contrib/spec/streaming_spec.rb
Labels: sinatra-contrib

#1244 Issue#1243 configurations with unimplemented environments
  sinatra-contrib/lib/sinatra/config_file.rb
  sinatra-contrib/spec/config_file/with_env_defaults.yml
  sinatra-contrib/spec/config_file_spec.rb
Labels: feedback, sinatra-contrib
